.container-reservez
    color: #000
    background-color: #F3F0EA
    display: flex
    justify-content: center
    align-items: center
    height: 569px
    margin-top: 10vh
    padding: 0 95px

.content-reservez
    display: flex
    flex-direction: column
    justify-content: center 
    max-width: 551px
    max-height: 409px
    text-align: left
    padding: 10px 50px
    align-items: center

    h1
        font-size: 56px

    p
        font-size: 20px

.form
    display: flex
    flex-direction: column
    align-items: center
    max-width: 653px
    max-height: 226px

    ul
        list-style: none
        padding: 0
        margin: 0

    .row
        display: flex
        margin: 2rem 0

        li
            display: flex
            flex-direction: column

            label
                display: flex
                font-size: 16px
                text-align: left

            input
                border: none
                border-bottom: 3px solid #000
                background: transparent
                color: #000
                margin: 10px 1.5rem 0 0
                width: 314px

    .button-form
        display: flex
        justify-content: flex-end
